/* ------------------ */
/* Components         */
/* ------------------ */

/* main */

.main-grid {
  display: grid;
  gap: 1.25rem;
  grid-auto-columns: 1fr;
  grid-template-areas: 'zero';

  flex-grow: 1;
  width: min(95%, 37.5rem);
  margin-inline: auto;
}

.zero {
  grid-area: zero;
}

.article h1 {
  padding-top: 1rem;
  line-height: 2rem;
  font-family: var(--ff-decorative);
}

.article p:first-of-type {
  padding: 1rem 0;
}

.article a {
  box-shadow: inset 0 0 0 0 hsl(var(--clr-primary-500));
  color: hsl(var(--clr-primary-500));
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.article a:hover {
  color: hsl(var(--clr-light-100));
  box-shadow: inset 200px 0 0 0 hsl(var(--clr-primary-500));
}

.first-line::first-letter {
  float: left;
  font-size: var(--fs-800);
  initial-letter: 3;
}

.quotation-mark {
  width: 90px;
  height: 106px;
}

.quotation {
  align-items: center;
  opacity: 0.9;
  font-style: italic;
}

.about-author {
  margin: 1.5rem 0;
}

.large-photo {
  margin-inline: auto;
}

.figcaption {
  opacity: 0.6;
}

.author {
  padding: 1rem 0;
  align-items: center;
}

.date {
  font-style: italic;
}

.author-photo {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  filter: grayscale(100%);
}

.article p:not(:first-of-type) {
  padding: 0.25rem 0;
}

.hr-zigzag {
  border: none;
  height: 10px;
  background: linear-gradient(
        -135deg,
        hsl(var(--clr-light-100)) 5px,
        transparent 0
      )
      0 5px,
    linear-gradient(
        135deg,
        hsl(var(--clr-light-100)) 5px,
        hsl(var(--clr-dark-800)) 0
      )
      0 5px;
  background-color: hsl(var(--clr-light-100));
  opacity: 0.4;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
}

/* ------------------ */
/* Media              */
/* ------------------ */

@media screen and (min-width: 33em) {
  .main-grid {
    grid-template-areas: 'zero zero';
  }
}

@media screen and (min-width: 37.5em) {
  .main-grid {
    grid-template-areas: 'zero zero';
  }

  .article h1 {
    padding-top: 1.5rem;
    line-height: 2.875rem;
    font-size: var(--fs-750);
  }

  .article p {
    font-size: var(--fs-500);
  }

  .article p.subhead {
    padding: 1.5rem 0;
    font-size: var(--fs-600);
  }

  .first-line::first-letter {
    font-size: var(--fs-850);
  }

  .quotation-mark {
    width: 100px;
    height: 116px;
  }

  .quotation p {
    font-size: var(--fs-750);
  }
}
