/* ------------------ */
/* Components         */
/* ------------------ */

/* main */

.main-grid {
  display: grid;
  align-content: baseline;
  gap: 1.25rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'zero'
    'one';

  flex-grow: 1;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.article {
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: hsl(var(--clr-dark-800) / 0.5) 2.5rem 3.75rem 3rem -3rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.article img {
  border-radius: 0.4rem;
  margin: 0 0.75rem 0 0;

  width: 372px;
  height: 245px;
  transition: 0.25s all ease-in-out;
}

.article img:hover {
  transform: scale(1.05);
}

.article p:first-of-type {
  font-weight: var(--fw-700);
}

.article a {
  text-decoration: none;
  color: inherit;
}

.article h2 {
  padding-top: 0.5rem;
  line-height: 1.5rem;
  font-family: var(--ff-decorative);
}

.article h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.article p:last-of-type {
  padding-top: 0.5rem;
  line-height: 1.25rem;
}

/* ------------------ */
/* Media              */
/* ------------------ */

@media screen and (min-width: 36.25em) {
  .main-grid {
    grid-template-areas:
      'zero zero'
      'one one';
  }

  .article img {
    float: left;
  }
}
